html {
  background: #1533A2;
}
header.home-header {
  top: 32px;
  right: 66px;
  left: 66px;
  max-width: 1600px;
  margin: 0 auto;
  position: fixed;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .fitw-logo {
    letter-spacing: 0.02em;
    font-family: Poppins;
    font-weight: bold;
    font-size: 38px;
    color: #FFDAE9;
  }
}

section.matter {
  z-index: 1;
  position: fixed;

}

section.home-page {
  margin-top: 100vh;
  height: 100vh;
  width: 100vw;
  background-color: #FFDAE9;
  position: relative;
  z-index: 2;
}

// div.home-page {
//   position: fixed;
//   top: 0;
//   right: 0;
//   width: 100%;
//   height: 100%;
//   // background-color: #1533A2;
//   pointer-events: none;
// }

section.cta {
  font-family: Rubik One;
  font-size: 6.7vw;
  letter-spacing: 0.02em;
  color: #FDDCEB;
  text-transform: uppercase;
  margin: 3.5% auto 0 auto;
  text-align: center;
  max-width: 1600px;
  .cta-text {
    margin-bottom: 20px;
  }
  .have-to {
    transform: rotate(4.49deg);
  }
  .enter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 48px 0 0 0;
    i {
      font-size: 28px;
      padding: 0 12px;
    }
  }

}

@media screen and (min-width: 2000px) {
  section.cta {
     font-size: 130px;
  }
}
