#drop_zone {
  position: relative;
  padding: 3rem 0;
  border: 2px dashed #ccc;
  text-align: center;
  border-radius: 6px;
  background-color: #f8f8f8;
  width: 800px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 0 auto;
  font-size: 20px;
  &.dragging::before {
    content: "";
    position: absolute;
    left: 0; width: 100%;
    top: 0; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: rgba($primary, .3);
    pointer-events: none;
    z-index: 99;
  }
  &.fire::before {
    content: "";
    position: absolute;
    left: 0; width: 100%;
    top: 0; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: rgba($green, .3);
    pointer-events: none;
    z-index: 99;
  }
}

.form-control-file {
  display: none;
}
