<section class="matter">
</section>
<div class="home-page">
  <header class="home-header">
  <h2 class="fitw-logo">fonts in the wild.</h2>
  <%= link_to "join the beta list", "/posts", class: "join-btn" %>
  </header>
<!--   <section class="cta">
    <h1>doing the</h1>
    <h1>font werk</h1>
    <h1>for you so</h1>
    <h1 class="cta-text">you dont</h1>
    <h1 class="have-to">have to</h1>
    <div class="enter">
      <%#= link_to "enter", "#", class: "enter-btn" %>
        <i class="fas fa-arrow-right"></i>
    </div>
  </section> -->
</div>
