<%= render 'shared/navbar' %>

<section class="content">
  <% if @posts %>
    <div data-controller="infinite-scroll">
      <div data-target="infinite-scroll.entries" class="grid" id="posts">
        <div class="grid-sizer"></div>
        <%= render 'post', posts: @posts %>
    </div>
    <% end %>
    <div data-target="infinite-scroll.pagination">
        <%= pagy_bootstrap_nav(@pagy).html_safe %>
    </div>
  </div>
  <footer>
    all screenshots © of their respective owners. site by <a href="https://www.meghanxmartin.com" target="_blank">meghan</a>.
  </footer>
</section>



