<%= render 'shared/navbar' %>

<%= link_to "Add post", new_post_path %>

<%#= simple_form_for :search, url: posts_path, method: "GET", remote: true do |f| %>
    <%#= f.input :tags, label: "Fonts",  collection: $tags, as: :check_boxes, onClick: "test"%>
    <%#= f.input :strengths, label: "Flavor", collection: $flavors, as: :check_boxes  %>
    <%#= link_to "Reset", posts_path  %>
<%# end %>

<section class="content">
  <% if @posts %>
  <div class="grid" id="posts">
    <div class="grid-sizer"></div>
      <%= render 'post', posts: @posts %>
  </div>
  <% end %>
  <%= pagy_bootstrap_nav(@pagy).html_safe %>
</section>


<%#= search_form_for @q do |f| %>
  <%#= f.select :vibe_name_eq,
            options_for_select(Vibe.all.map{|x| x.name}),
            {include_blank: "Vibe", class: 'filter-select'}
          %>
<%# end %>



