.enter-btn {
  font-size: 41px;
  color: #FFDAE9;
  text-transform: lowercase;
}

.join-btn {
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  color: #051C7D;
  padding: 13px 24px;
  background: #FFDFEC;
  border-radius: 56px;
}
