@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(0, 26px);
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}

// @keyframes header-in {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

.content {
  // animation: fadeIn .35s .35s both cubic-bezier(0.9,0.03,0.69,0.22);
}
header.index {
  display: flex;
  // animation: header-in 1s .4s both cubic-bezier(0.9,0.03,0.69,0.22);
  align-items: center;
  font-weight: bold;
  font-size: 21px;
  font-family: Karla;
  justify-content: space-between;
  padding: 28px 110px 6px 80px;
  max-width: 1440px;
  margin: 0 auto;
  letter-spacing: 0.01em;
  .filters {
    display: flex;
    align-items: center;
  }
}
.search-toggle {
  display: none;
}
.nav-menu {
  width: 514px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toggles {
  display: none;
}
.search-icon {
  display: none;
}

.settings {
  display: none;
}

.blacklg {
  display: none;
}

@media only screen and (max-width:900px) {
  .icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    i {
      font-size: 28px;
      color: #1E1D1D;
    }
  }
  .settings {
    display: block;
  }
  .nav-menu {
    display: none;
  }
  .dropHide {
    display: none !important;
  }
  .nav-menu {
    justify-content: flex-end;
    width: 100% !important;
  }
  .toggles {
    display: flex;
    margin-top: 12px;
    align-items: center;
    justify-content: center;
    .drop-recent {
      #dropdownMenuLink {
        padding-right: 20px;
        font-size: 21px;
        color: var(--color-nav);
        font-family: Karla;
        font-weight: 500;
      }
    }
    a {
      padding-right: 20px;
      font-size: 21px;
      color: var(--color-nav);
      font-family: Karla;
      font-weight: 500;
    }
  }
  form.search {
    legend.col-form-label {
      display: none;
    }
  }

  .drop-recent .dropdown-item {
    font-size: 20px !important;
  }
  .drop-recent #dropdownMenuLink i {
    font-size: 12px;
    margin-top: 4px;
    margin-left: 2.5px;
  }
  .search-index {
    flex-direction: column;
    margin-top: 16px;
    align-items: normal !important;
  }

  .search-icon {
    display: block;
    height: 42px;
    padding-right: 12px;
  }
  .search2 {
    display: none;
  }
  .form-inline {
    margin-top: 16px;
  }
    header.index {
    padding-bottom: 24px;
  }
  .search-toggle {
    display: flex;
    justify-content: center;
    .form-control {
      width: 314px !important;
    }
  }
  a.free {
    padding-right: 0 !important;
  }
.blacklg {
  display: block;
}
}

@media only screen and (max-width:1000px) {
  .modal-body {
    padding: 42px 42px !important;
  }
}

@media only screen and (max-width:800px) {
  header {
    .form-control {
      width: 260px !important;
      font-size: 17px !important;
    }
  }
}


@media only screen and (max-width:700px) {
  .nav-menu {
    // width: 440px;
  }
  header.index {
    padding: 32px 18px 24px 18px;
  }
  .free {
    margin-right: 0 !important;
  }
  .modal-body {
    padding: 42px 48px !important;
  }
  .modal-content img {
    max-width: 400px;
  }
  .modal i {
    display: none;
  }
}

@media only screen and (max-width:620px) {
  .modal {
    .modal-content {
      margin: 80px 40px !important;
    img {
      max-width: 320px;
    }
  }
  .grid2 {
    width: 320px !important
  }
   .grid2 img {
    width: 320px !important;
  }
  }
  .modal i.right {
    right: 2% !important;
    font-size: 26px !important;
  }
  .modal i.left {
    left: 2% !important;
    font-size: 26px !important;
  }
  .modal {
  .download {
    text-align: right;
  }
  }
}
@media only screen and (max-width:560px) {
  .content {
    margin: 20px auto 60px auto !important;
  }
  .modal-content img {
    width: 320px !important;
    height: 100%;
  }

  .modal {
    .modal-body {
      padding: 32px 28px !important;
    }
  }
}

@media only screen and (max-width:480px) {
  .modal {
    img {
      max-width: 320px !important;
    }
  .grid2 img {
    width: 280px !important;
  }
  .grid2 {
    width: 280px !important
  }
  }
  .download-links {
      width: 200px;
  }
}

@media only screen and (max-width:460px) {
  .modal {
  .modal-content {
      margin: 70px 32px !important;
    img {
      max-width: 320px !important;
    }
  }
    .grid2 img {
      width: 260px !important;
    }
  .grid2 {
    width: 260px !important
  }
  }
  .toggles a {
    font-size: 19px !important;
    .drop-recent {
      #dropdownMenuLink {
        font-size: 19px !important;
    }
  }
  }
  .search-toggle .form-control {
    width: 296px !important;
  }
}

@media only screen and (max-width:420px) {
  .modal {
    .modal-content {
       margin: 64px 32px !important;
    }
  .modal-body {
    padding: 32px 17px !important;
    h2 {
      font-size: 20px;
    }
    a {
      font-size: 18px;
    }
    h3 {
      font-size: 20px;
    }
    .download a {
      font-size: 16px;
    }
    .download span {
      font-size: 16px;
    }
    .download p {
      font-size: 16px;
    }
  }
  }
  .grid-item {
      padding: 0;
      width: 380px !important;
    img {
      width: 380px !important;
      margin: 0 auto;

    }
    a {
      margin: 0 auto;
    }
  }
   .grid-sizer {
    width: 380px !important;
   }
   .drop-recent {
    .dropdown-item {
      font-size: 19px !important;
    }
   }
}

@media only screen and (max-width:400px) {
.modal {
  .modal-content {
      margin: 64px 32px !important;
    img {
      max-width: 260px !important;
    }
    .modal-body {
      padding: 30px 20px !important;
    }
  }
    .grid2 img {
      width: 240px !important;
    }
  .grid2 {
    width: 240px !important
  }
  }
    .toggles a {
      padding-right: 13px !important;
    .drop-recent {
      #dropdownMenuLink {
        padding-right: 13px !important;
    }
  }
  }
}

@media only screen and (max-width:380px) {
  .toggles a {
      padding-right: 10px !important;
    .drop-recent {
      #dropdownMenuLink {
        padding-right: 10px !important;
    }
  }
  }
    .grid-item {
      padding: 0;
      width: 320px !important;
    img {
      width: 320px !important;
      margin: 0 auto;

    }
  }
   .grid-sizer {
    width: 320px !important;
   }
}

.search-index {
  a {
    color: var(--color-nav);
    font-family: Karla;
    font-weight: 500;
  }
  .search {
    margin: 0 50px 0 0;
    // display: none;
  }
}

.free-page {
  color: var(--blue) !important;
  font-weight: 700!important;
}
.toggle .dropdown-toggle::after {
  display: none;
}

.drop-recent {
  .dropdown-menu {
    left: -40px !important;
    width: 208px;
  }
    #dropdownMenuLink {
      position: relative;
    span {
      display: none;
    }
    .num-show {
      font-size: 5px;
      display: block;
      position: absolute;
      top: -5px;
      left: -9px;
      padding: 5px 5px;
      border-radius: 50%;
      background: var(--blue);
    }
  }
  #dropdownMenuLink {
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 12px;
      margin-top: 4px;
      margin-left: 2.5px;
    }
  }
}

.drop-recent {
  #dropdownMenuLink {
    color: var(--color-nav);
  }
  .dropdown-item {
    color: var(--color-nav);
    font-size: 19px;
    text-transform: lowercase;
    padding: 8px 0;
    background: none;
    font-family: Karla;
    font-weight: 500;
    label {
      cursor: pointer;
    }
  }
  .dropdown-item:hover {
    background: none;
  }
}

#dropdownMenuLink {
  background-color: transparent;
  border: none;
  font-family: Karla;
  font-weight: 500;
  font-size: 21px;
  letter-spacing: .01em;
  padding: 0;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  border: none;
  border-radius: 10px;
  line-height: 24px;
  margin-top: 4px;
  background: var(--bg) !important;
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,0.05);
  -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.04);
  box-shadow: 0px 3px 5px rgba(0,0,0,0.04);
  a {
    font-family: Karla;
    font-weight: 500;
    letter-spacing: .01em;
    text-align: center;
    padding: 6px 0;
    font-size: 18 !important;
  }
}

.check_boxes {
  padding: 8px 46px;
}

.drop {
  color: var(--blue);
  transform: rotate(-180deg);
  margin-top: .7px !important;
  margin-left: 2.5px;
}

.bold {
  color: var(--blue) !important;
  font-weight: 700 !important;
}
