header.index {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 19px;
  font-family: Inter;
  justify-content: space-between;
  padding: 12px 62px 12px 36px;
  max-width: 1600px;
  border-bottom: 1px solid #F3F5F8;
  margin: 0 auto;
  .filters {
    display: flex;
    align-items: center;
  }
}

.search-index {
  display: flex;
  align-items: center;
  a {
    padding: 0 22px;
    color: #928F9C;
  }
  .search {
    margin: 0 50px 0 0;
  }
}

.logo-eye {
  height: 66px;
  cursor: pointer;
}

.toggle .dropdown-toggle::after {
  display: none;
}

.x {
  display: none;
}

.show-x {
  display: block;
}

.toggle {
  .dropdown-menu {
    left: -40px !important;
  }
  #dropdownMenuLink {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #807E8B;
    img {
      padding-left: 6px;
      padding-top: 1px;
    }
  }
}

.drop-recent {
  padding-bottom: 26px;
  background: rgba(252, 252, 252, 0.65);
  border-radius: 10px;
  padding-left: 16px;
  #dropdownMenuLink {
    color: #1533A2;
  }
  .dropdown-item {
    color: #1533A2;
    font-size: 17.5px;
  }
}

#dropdownMenuLink {
  background-color: transparent;
  border: none;
  color: #AEAEAE;
  font-family: Open sans;
  font-weight: 600;
  font-size: 19px;
  letter-spacing: .01em;
  padding: 0 28px 0 0;
}

.dropdown-toggle::after {
  margin-left: 0.085em !important;
  vertical-align: 0.12em !important;
}

.dropdown-menu {
  border: none;
  border-radius: 10px;
  line-height: 24px;
  margin-top: 4px;
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,0.05);
  -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.04);
  box-shadow: 0px 3px 5px rgba(0,0,0,0.04);
  a {
    color: #807E8B;
    font-family: Open sans;
    font-weight: 600;
    letter-spacing: .01em;
    text-align: center;
    padding: 6px 0;
    font-size: 18 !important;
  }
  a:hover {
    color: #1533A2;
    background: #FAFAFA;
  }
}


