.modal.fade .modal-dialog {
     // -webkit-transform: scale(0.1);
     // -moz-transform: scale(0.1);
     // -ms-transform: scale(0.1);
     // transform: scale(0.1);
     // top: 300px;
     // opacity: 0;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    opacity: 1;
}

.modal {
  --animate-duration: 0.5s;
}

.modal-content {
  border-radius: 8px;
  border: none;
  font-family: Open Sans;
  // width: 900px;
}
.modal-body {
  padding: 42px 124px;
  // width: 800px;

}
.modal-head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 42px;
  align-items: baseline;
}

.font-info {
  display: flex;
  flex-direction: column;
  h2 {
    font-weight: bold;
    font-size: 22px;
  }
  p{
    font-size: 19px;
    color: #606060;
    margin-top: 6px;
  }
}

.download {
  a {
    font-family: Inter;
    font-weight: 500;
    font-size: 17px;
    text-decoration-line: underline;
    color: #292929;
  }
}

.vertical-alignment-helper {
display:table;
height: 100%;
width: 100%;
pointer-events:none;
}

.vertical-align-center {
/* To center vertically */
display: table-cell;
vertical-align: middle;
pointer-events:none;
}

.modal-content {
/* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
width:inherit;
max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching
full width */
height:inherit;
/* To center horizontally */
margin: 0 auto;
pointer-events:all;
}
