.modal.fade .modal-dialog {
     // -webkit-transform: scale(0.1);
     // -moz-transform: scale(0.1);
     // -ms-transform: scale(0.1);
     // transform: scale(0.1);
     // top: 300px;
     // opacity: 0;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    opacity: 1;
}

.modal {
  --animate-duration: 0.4s;
}

.modal-content {
  border-radius: 8px;
  border: none;
  margin: 40px auto;
  font-family: Open Sans;
  // width: 900px;
  img {
    max-height: 600px;
  }
}
.download-links {
  display: flex;
  // flex-direction: column;
}

.font-img {
  text-align: center;
}
.modal-body {
  padding: 42px 100px;
  // width: 800px;

}
.modal-head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 38px;
  align-items: baseline;
}

.font-info {
  display: flex;
  flex-direction: column;
  h2 {
    font-weight: bold;
    font-size: 24px;
  }
  p{
    font-size: 20px;
    color: #606060;
    margin-top: 6px;
    font-weight: 500;
  }
}

.download {
  margin-right: 12px;
  font-family: Inter;
  font-size: 17px;
  p {
    margin-top: 0;
    font-weight: 500;
    color: #585858;
  }
  a {
    font-weight: 500;
    text-decoration: underline;
    color: #292929;
  }
}

.related-posts h3 {
  text-align: center;
  font-weight: bold;
  font-family: Open Sans;
  margin: 42px 0 20px 0;
  font-size: 22px;
  // .modal-img img {
  //   max-width: 220px;
  // }
}

.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
  pointer-events:none;
}

.vertical-align-center {
  display: table-cell;
  vertical-align: middle;
  pointer-events:none;
}

.modal-content {
  width:inherit;
  max-width:inherit;
  height:inherit;
  margin: 0 auto;
  pointer-events:all;
}

.grid2 {
  max-width: 800px;
  margin: 0 auto;
}

.grid-sizer2,
.grid-item2 {
  width: 200px;
  display: block;
  padding: .6em .6em;
  background: #fff;
}

.grid-item2 {
  float: left;
  position: relative;
}

.grid-item2 img {
  display: block;
  max-width: 100%;
  max-height: 400px;
}

.grid2:after {
  content: '';
  display: block;
  clear: both;
}
