nav.pagy-bootstrap-nav {
  justify-content: center;
  display: flex;
  margin: 40px 0 60px 0;
  display:none;
}

.pagination {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  img {
    opacity: .9;
  }
  h1 {
    width: 130px;
    font-family: Poppins;
    font-weight: 800;
    font-size: 28px;
    color: var(--blue) !important;
    line-height: 104.2%;
    // margin-left: 8px;
  }
  h1:hover {
    color: var(--blue) !important;
  }
}
figure {
  padding-right: 4px !important;
}
