nav.pagy-bootstrap-nav {
  justify-content: center;
  display: flex;
  margin: 40px 0 60px 0;
  display:none;
}

.pagination {
  display: none;
}

.logo {
  position: relative;
  img {
    position: absolute;
    top: -15px;
    left: -12px;
    z-index: -1;
  }
  h1 {
    width: 150px;
    font-family: Poppins;
    font-weight: 800;
    font-size: 28px;
    color: var(--logo) !important;
    line-height: 104.2%;
    z-index: 1;
  }
  h1:hover {
    color: var(--logo) !important;
  }
}

.nav-svg {
  position: absolute;
  top: -2px;
  left: -4px;
  z-index: -1;
}

.nav-svg2 {
  top: -8px !important;
}

.nav-svg3 {
  top: -6px !important;
}

.nav-svg4 {
  top: -4px !important;
}

.nav-svg0 {
  top: 0px;
  left: -4px;
}

.nav-svg-wrapper {
  position: relative;
}

.black-search {
  margin-left: -10px;
  cursor: pointer;
  height: 28px;
  width: 28px;
}

.search3 input {
  width: 210px;
  height: 42px;
  border-radius: 26px;
  font-size: 18px;
  padding: 20px 19px;
  color: black !important;
  font-family: Karla;
  //border: black;
}

.search3
input::placeholder {
  color: black;
}

.blacklg {
  height: 36px;
  width: 36px;
}
.form {
  display: flex;
  justify-content: flex-end;
  max-width: 1440px;
  margin-right: 138px;
}
