.content {
  max-width: 1256px;
  margin: 32px auto;
  img {
    border-radius: 18px;
  }
  p {
    font-family: Inter;
    font-weight: bold;
    font-size: 17px;
    color: #0F0F0F;
    line-height: 120%;
    margin-top: 12px;
  }
  .post-website {
    margin: 0;
    color: #585858;
    font-size: 17px;
    font-weight: 500;
  }
}

.grid {
  max-width: 1256px;
  margin: 0 auto;
}

.grid-sizer,
.grid-item {
  width: 410px;
  display: block;
  padding: .7em .7em;
  // margin: 0 0 1.5em;
  background: #fff;
}

.grid-item {
  float: left;

  position: relative;
  // margin: 10px 0;
  img {

  }
}

.website-text {
  position: absolute;
  text-align: center;
  visibility: hidden;
  transition: opacity .8s, visibility .8s;
  opacity: 0;
  // top: 0;
  bottom: 34px;
  font-family: Open Sans;
  font-size: 24px;
  left: 0px;
  background: white;
  height: 100px;
  width: 398px;
  // right: 0;
  // background: rgba(69, 69, 69, 0.72);
  background: linear-gradient(180deg, rgba(135, 135, 135, 0.099) 0%, rgba(108, 108, 108, 0.8132) 100%);
  backdrop-filter: blur(1px);
  color: #fff;
  display: flex;
  border-radius: 0px 0px 19px 19px;
  align-items: center;
  justify-content: center;
}

.thumb {
  height: 500px;
  width: 100%;
}

.grid-item:hover .website-text {
  // visibility: visible;
  // opacity: 1;
}

.grid-item img {
  display: block;
  max-width: 100%;
  max-height: 680px;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

