.filters {
  display: flex;
  .col-form-label {
    display: none;
  }
  label {
    color: #928F9C;
    font-size: 19px;
    font-family: Open Sans;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
    letter-spacing: 0.01em;
  }
}
.recent {
  margin: 0 6%;
}

.checkbox_container {
  display: inline;
  padding: 0px 15px 0 15px;
  input {
    display: none;
  }
 }

 .tag {
  margin-top: 6px;
  a {
    font-family: Open Sans;
    font-weight: 600;
  }
 }

 // .active {
 //    background: #2D47AA;
 //    border-radius: 10px;
 //    color: white;
 //    padding: 8px;
 // }

