// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
// @import "bootstrap/scss/bootstrap";
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

html {
  --bg: #fff;
  --input-bg: #FAFAFA;
  --border: #F3F5F8;
  --blue: #D9BAF1;
  --check: #fff;
  --color-nav: #ADADAD;
  --caption-dark: #0F0F0F;
  --caption-gray: #585858;
  --color-search: #828796;
  --arrow: #fff;
  --check-bg: #fff;

}

html[data-theme='dark'] {
    --bg: #262429;
    --input-bg: #262429;
    --border: transparent;
    --blue: #7F94E4;
    --check: #434343;
    --color-nav: #F3F3F3;
    --caption-dark: #F3F3F3;
    --caption-gray: #F3F3F3;
    --color-search: #F3F3F3;
    --arrow: #F3F3F3;
    --check-bg: #f3f3f3;
}
